*{
  margin:0;
  padding:0;
  outline:0;
}

body{
  overflow-x: hidden;
}
/* css for container in which all animation occurs */
#animation{
  width:100%;
  height:1000vh;
}

/* css for background of paperplane */

#background{
  position: absolute;
  width:100%;
  height:100%;
  background: linear-gradient(#0066B2 ,#60D4FF);
}

#clouds{
  position: absolute;
  height: auto;
  width:auto;
  bottom:-5%;
  right: -10%;
  left:-20%;
}

object{
  position: relative;
  width:100%;
}

@media screen and (min-width:764px) {
  #clouds{
    top:50%;
  }
}

/*css for paperplane */
@keyframes fly {
  0% {
      transform: perspective(1000px) rotateY(270deg) translateX(10vh) translateY(-300%) translateZ(50vw);
  }
  75% {
      transform: perspective(1000px) rotateY(-450deg) translateX(40vh) translateY(50%) translateZ(0);
  }
}

#plane{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  transform-style: preserve-3d;
  width:50px;
  height:50px;
}

.container{
  transform:rotateZ(0deg) rotateX(-20deg) rotateY(-90deg);
  transform-style:preserve-3d;
  animation:fly 5s ease-out 0.5s backwards;
}

#lside{
  border-top:50px solid transparent;
  border-right:100px solid  blue;
  transform:rotate(-5deg) rotateY(0deg) rotateX(-10deg);
  transform-origin:bottom;
}
#rside{
  margin-top:-50px;
  border-top:50px solid transparent;
  border-right:100px solid blue;
  transform:rotate(-5deg) rotateY(0deg) rotateX(10deg);
  transform-origin:bottom;
}
#lwing{
   margin-top:-50px;
  border-bottom:50px solid red;
  border-right:60px solid transparent;
  border-left:100px solid transparent;
  transform:rotate(-22deg) rotateX(55deg) rotateY(-10deg) rotateZ(25deg);
  transform-origin:top;
}
#rwing{
  margin-top:-50px;
  border-bottom:50px solid red;
  border-right:60px solid transparent;
  border-left:100px solid transparent;
  transform:rotate(-22deg) rotateX(-55deg) rotateY(10deg) rotateZ(25deg);
  transform-origin:top;
}

.wind {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 800px
}
.wind > div {
    position: absolute;
    height: 5px;
    background: linear-gradient(to right, white, transparent);
    border-radius: 10px;
    opacity:0;
}
#lw1 {
    top: 0;
    left: 10%;
    width: 20vh;
}
#lw2 {
    top: 50%;
    left: 0;
    width: 50vh;
}
#lw3 {
    top: 80%;
    left: 0;
    width: 40vh;
}
#rw1 {
    top: 10%;
    right: 0;
    width: 30vh;
}
#rw2 {
    top: 20%;
    right: 0;
    width: 40vh;
}
#rw3 {
    top: 70%;
    right: 0;
    width: 20vh;
}
#rw4 {
    top: 100%;
    right: 20%;
    width: 50vh;
}
